h1{
  font-family: 'Do Hyeon', sans-serif;
}

body{
  margin: 0;
  background-color: rgba(240, 248, 255, 0.918);
}
.navbar a{
  text-decoration: none;
  color: white;
}
.navbar a:visited{
  color:white;
}
.navbar{
  font-family: 'Lato', sans-serif;
  display: flex;
  border: 1px solid black;
  height: 70px;
  background-color: black;
  padding-left: 60%;
  padding-top: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar-menu{
  color:white;
  font-size: 18px;
  margin: 0px 10px;
  padding: 15px;
}

.navbar-menu > a:hover{
  color: orange;
}

.dropdown {
 
  position: relative;
  display: inline-block;
}

.dropdown-list{
  display: none;
  color: white;
  border: 1px solid white;
  text-align: center;
}

.dropdown-list > a:hover{
  color: orange;
}


.dropdown:hover .dropdown-list{
  display: block;
}

.banner{
  border: 1px dotted black;
  height: 500px;
  background-color: black;
}

.banner > p{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 80px;
  text-align: center;
  padding-top: 150px;
}

.main{
  height: 1000px;
}

.main > h1{
  margin-top: 50px;
  text-align: center;
}

.main-content{
  font-family: 'Do Hyeon', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.main-content-class{
  width: 24%;
  height : 657.72px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  margin: 1%;
  background-color: white;
}

.main-content-class > h2{
  text-align: center;
  padding-top: 10px;
}

.main-content-class > h3{
  text-align: center;
  padding-top: 10px;
}

.main-content-class:hover{
  opacity: 0.5;
  transition: ease-in 0.5s;
}

.main-content-class:hover p{
  display: flex;
  justify-content: center;
  position: absolute;
}

.main-content-class-icon{
  position: absolute;
  font-size: 150px;
  display: none;
  color: orange;
  width: 24%;
}

.container > h1{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 3rem;
  padding-top: 50px;
  text-align: center;
}

.container-floor1{
  padding: 10px;
  display : flex;
  justify-content: center;
}

.container-floor1-content{
  font-family: 'Noto Sans KR', sans-serif;
  font-size : 12px;
  width: 15%;
  height: 280px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 1.5%;
  margin: 10px;
}

.container-floor1-content-image{
  border-radius: 1.5%;
}

.container-floor1-content > h2{
  text-align: center
}

.container-floor1-content-icon{
  display: none;
  font-size: 80px;
  width : 15%;
  color: orange;
}

.container-floor1-content:hover{
  opacity: 0.5;
  transition: ease-in 0.5s;
}

.container-floor1-content:hover p{
  display: flex;
  justify-content: center;
  position: absolute;
}

.table {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  width : 60%;
  margin : auto;
  margin-bottom: 20px;
}

.table thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}

.table tbody th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}

.table td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

.num{
  text-align: center;
  margin-top: 50px;
}

.club_activity_body_info_more{
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  color: black;
}
.post, .post_a, .post_a:visited{
  color:black;
}
.fa-edit{
  color: black;
}
.fa-edit:hover{
  color: orange;
}

.club{
  display: flex;
  border-top: solid 5px black;
  margin-left:100px;
  margin-right: 100px;
}

.club_left{
  width:25%;
}
.club_center{

  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.club_right{
  width: 25%;
}
.club_activity{
  padding: 5% 10%;
  border-bottom-width: 0;
}
.club_activity_head_2{
  display: flex;
  border: 0px dotted black;
  border-bottom-width:1px;
}
.club_activity_head_2 > h4{
  margin-right: 40px;
}
.club_activity_body{
  display: flex;
  padding-top: 50px;
}
.club_activity_body_image{
  width: 50%;
  height: 300px;
  text-align: center;

}
.club_activity_body_image > img{
  border: 1px solid black;
}
.club_activity_body_info{
  width: 50%;
  height: 300px;
  border:1px solid black;
  position: relative;
}
.club_activity_body_info > h4{
  padding: 1% 5%;
}

.detail{
  padding: 0% 10%;
}
.detail_info_second > p{
  text-align: center;
}
.detail_image{
  width:50%;
  height:50%;
}
.detail_post{
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10%;
}

.detail_post a{
  margin:0px 10px;
  margin-bottom:50px;
}

#clubcontainer{
  border: black thin solid;
}


#faq{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  height: 100vh;
  margin-bottom : 100px;
}
#faqh1 {
  font-size: clamp(20px, 4vw, 30px);
  text-align: center;
  line-height: 1.2;
  margin-bottom: 40px;

}
#faqmain {
  max-width: 750px;
  margin: 0 auto;
}

.faq__content{
  font-family: 'NanumBarunGothic';
}

.faq__content a:visited{
  color:black;
}

summary {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.25rem;
  background-color: #fafafa;
  background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251,0.04) 0%, rgba(251, 251, 251,0.04) 50%,rgba(229, 229, 229,0.04) 50%, rgba(229, 229, 229,0.04) 100%),radial-gradient(circle at 66% 97%, rgba(36, 36, 36,0.04) 0%, rgba(36, 36, 36,0.04) 50%,rgba(46, 46, 46,0.04) 50%, rgba(46, 46, 46,0.04) 100%),radial-gradient(circle at 86% 7%, rgba(40, 40, 40,0.04) 0%, rgba(40, 40, 40,0.04) 50%,rgba(200, 200, 200,0.04) 50%, rgba(200, 200, 200,0.04) 100%),radial-gradient(circle at 15% 16%, rgba(99, 99, 99,0.04) 0%, rgba(99, 99, 99,0.04) 50%,rgba(45, 45, 45,0.04) 50%, rgba(45, 45, 45,0.04) 100%),radial-gradient(circle at 75% 99%, rgba(243, 243, 243,0.04) 0%, rgba(243, 243, 243,0.04) 50%,rgba(37, 37, 37,0.04) 50%, rgba(37, 37, 37,0.04) 100%),linear-gradient(90deg, rgb(34, 222, 237),rgb(135, 89, 215));
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.edit, .new{
  position : relative;
  text-align: center;
  font-size: 20px;
  font-family : 'Do Hyeon', sans-serif;
  padding-bottom : 20px;
}

.edit_text,.new_text{
  text-align: center;
}

#bt{
  font-family : 'Do Hyeon', sans-serif;
  font-size:20px;
  width: 100px;
  margin-left: 450px;
  border-radius:10px;
  width:100px;
  background-color: #f8585b;
  border: none;
  color:#fff;
  padding: 15px 0;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.authentication{
  font-family : 'Do Hyeon', sans-serif;
  font-size: 25px;
  text-align: center;
  
}
@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");
/*
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/




ol, ul {
  list-style: none; }



#club_a:hover {
    color: #f56a6a;  }


#club_name {
  color: black;
  font-family:'Do Hyeon', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 0 0; 
  font-size: 4em;
  line-height: 1.3;
 }



/* Main */

  #club_main > .inner {
    padding: 0 6em 0.1em 6em ;
    margin: 0 auto;
    max-width: 110em; }
    
 


/* Header */
#header {
  font-family: 'Do Hyeon', sans-serif;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-bottom: solid 5px black;
  padding-top : 30px;
  position: relative; }
  #header > * {
    -moz-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 0; }

  #header .icons {
    text-align: right; }



#club_name{
  text-align: center;
}

.image_main{
  margin-top: 30px;
  text-align: center;
}

.club_int_text{
  width: 800px;
  padding-right: 25%;
  padding-left: 25%;
}

p{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
  font-weight: 50;
}

.blank{
  margin-top:1200px;
}

.footer{
  margin-top:100px;
  text-align:center;
}

ul.links {
  list-style: none;
  padding-left: 0;
}

.button{
  font-size:30px;
  padding:10px 10px;
  text-align: center;
  margin-top: 50px;
}

.holy{
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin: auto;
  width: 300px;
  height: 300px;
  background-color: white;
  margin-top: 100px;
  text-align: center;
}
.holy h1{
  text-align: center;
}

.login_btn{
  justify-content: center;
}

#ping{
  font-size: 20px;
}

#header a{
  color:black;
  font-size:30px;
}

#header a:visited{
  color:black;
}

.club_int_text a{
  color:black;
}

.club_int_text a:visited{
  color:black;
}

