{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="club_main">
    <div class="inner">

    <!-- Header -->
        <header id="header">
            <a href="{%url 'main:social'%}" > &#60;&#60;사회분과</a>
            <header>
                <h1 id = "club_name" >동국불교학생회</h1>
            </header>
            <ul class="icons">
               
                <li><a href = " "><p></a></li>
    
            </ul>
        </header>

    <!-- Content -->
            <div class = image_main><img src="{% static 'images/activity/buddha_activity.jpg'%}" width="800" height="500"/></div>

            <div class = club_int_text>
            
            
                <p> ✨동국대학교 중앙불교동아리 불교학생회✨는 회원을 항상 모집합니다😀😀<br><br>

                    👉명상을 배워보고 싶은<br>
                    👉삶의 고민을 함께 나누고 싶은<br>
                    👉불교의 철학을 쉽게 배워보고 싶은<br>
                    👉숨가쁜 일상에서 벗어나 휴식하고 싶은<br>
                    👉모든 학생들을 환영합니다<br><br>
                    
                    📌불교학생회는 어떤 동아리인가요?<br><br>
                    
                    💡명상, 법회, 다과회, 스터디를 합니다!<br>
                    💡모든 활동은 자율 참여가 원칙입니다!<br>
                    💡학부생 스님들과 접할 기회가 많습니다!<br>
                    💡꽤 오래되었습니다! (올해로 60주년)<br>
                    💡동아리방은 좌식이고, 공강 시간에는 보통 누워 있습니다!<br><br>
                    
                    📌불교학생회는 어떤 활동을 하나요?<br>
                    🔥 명상🔥<br>
                    참 원론적이고 답이 없는 이야기지만! 왜 어떤 사람은 열심히 노력할 수 있고, 왜 어떤 사람은 열심히 노력하지 못하는 걸까요?<br>
                    이 경우 “나는 원래 그래”라는 말은 스스로를 잘 알지 못하는 견해입니다.<br>
                    우리는 명상을 통해 우울, 불안, 공포, 통증 등의 문제를 해소하고, 평온, 통찰, 집중, 행복을 향해 나아갈 수 있습니다. 이를 위해 저희는 명상을 함께 연습할 것입니다. 물론 제대로 앉기 위한 스트레칭도 함께 합니다!<br><br>

                    🔥법회🔥<br>
                    대학 생활은 고등학교 때와는 전혀 다릅니다. 어쩌면 우리는 벌써 사회에 와버렸는지도 모르겠습니다. 그리고 ‘나 자신’, ‘다른 사람들’과의 관계는 종종 괴로움이 따릅니다.<br>
                    스님의 설법을 듣는 것은 이러한 괴로움을 해소하는 방법을 찾는 일입니다. 불교 교리와 수행은 ‘나 자신’과 ‘다른 사람들’이라는 주제를 깊이 다루며, 지도 법사 스님은 바로 그 문제에 대해 도움을 주실 수 있습니다.<br>
                    ‘답이 없는’, ‘나 자신이 문제’, ‘도움 받을 수 없는’ 상황이라고 여겨진다면 어쩌면 법회에서 함께 이야기해 보는 것이 도움이 될 수 있을 것입니다!<br><br>

                    🔥다과회🔥<br>
                    불단에 맛있는 과자와 차를 공양올리고, 예불이 끝난 뒤에 함께 나눠 먹습니다.<br>
                    과자를 먹으면 기분이 좋아지고, 차를 마시면 건강이 좋아집니다!<br><br>

                    🔥스터디🔥<br>
                    불교의 철학과 수행에 대한 스터디는 어떻게 이 마음과 이 세상을 바라보아야 하는지에 대한 근본적이고 궁극적인 문제와 해답을 다룹니다. 만약 정말 정말 불교에 관심이 많으시다면 함께 공부하러 오세요!<br><br>

                    ➡️문의 사항<br>
                    흔히 받는 질문들은 미리 답해 드립니다!<br>
                    1) 우리 ✨불교학생회✨는 중앙동아리, ❤️불교대 학생회❤️는 단과대 학생회로 다른 단체!<br>
                    2) 🤗다른 종교🤗를 가지고 있어도 가입 가능합니다. 모든 활동은 자율 참여!🌈🌈🌈<br>
                    3) 이번 ‘코로나 사태’로 모든 일정(명상 연습, 법회 등)이 아직 미정입니다!😲😲<br>
                    다른 궁금한점이 있으시다면, 담당자 연락처 [010-5780-6991]로 [문자]를 통해서 궁금하신 점을 문의해주시면 감사드리겠습니다!.<br><br>

            </p>
            
        </div>
    </div>
</div>

<div class="club">
    <div class="club_left"></div>
    <div class="club_center">
        <h1>동국불교학생회의 동아리 활동 내역</h1>
        <a class = "write_icon" href = "{% url 'main:buddha_new'%}"><p><i class="far fa-edit fa-3x"></i></p></a>
        <p>글 작성하기</p>
    </div>
</div>
{% for post in posts %}
<div class = 'club_activity'>
    <div class = 'club_activity_head'>
        <h1>{{post.title}}</h1>
    </div>
    <div class = 'club_activity_head_2' >
        <p>
            <p style= float:left;>
            <i class="fas fa-calendar-alt fa-lg"style= float:left;></i>
            <p>&nbsp;&nbsp;{{post.date}}</p>
            </p>
            <p>&nbsp;&nbsp;&nbsp;</p>
            <p>
            <i class="fas fa-user fa-lg" style= float:left;></i> 
            <p>&nbsp;&nbsp;{{post.writer}}</p>
            </p>
        </p>
    </div>

    <div class = 'club_activity_body'>
        {% if post.image %}
        <div class='club_activity_body_image'>
            <img class="rounded" src = "{{post.image.url}}" width=80% height=100%>
        </div>
        {% endif %}
        <div class = "club_activity_body_info">
            <h4>{{post.summary}}…</h4>
            <div class='club_activity_body_info_more'>
                <button type="button" onclick="location.href='{% url 'main:buddha_detail' post.id %}' ">더보기</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}