{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<div padding-left:10px>
<a href="#"><button type="button" class="btn btn-primary">새글쓰기</button></a>
</div>

<div class="club">
    <div class="club_left"></div>
    <div class="club_center">
        <div class="container" id="clubcontainer">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">
                                <div margin-right:10px;>
                                <i class="fas fa-calendar-alt" style= float:left;></i> 
                                <div class="small text-muted" style= float:left;>&nbsp;2021년 6월 4일&nbsp;</div>
                                <i class="far fa-folder-open" style= float:left;></i>
                                <div class="small text-muted" style= float:left;>&nbsp;정기활동&nbsp;</div>
                                <i class="fas fa-user" style= float:left;></i> 
                                <div class="small text-muted" style= float:left;>&nbsp;이건회&nbsp;</div> 
                                <div align="right">
                                    <div>
                                        <a href="#"><button href="#" type="button" class="btn btn-primary">수정하기</button></a>
                                        <a href="#"><button type="button" class="btn btn-primary">삭제하기</button></a>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <h2 class="card-title">&nbsp;6월 정기회의 진행</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>                            
                        </div>
                    </div>
                </div>            
            </div>
        </div>
        <br>
        <div class="container" id="clubcontainer">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">
                                <div margin-right:10px;>
                                <i class="fas fa-calendar-alt" style= float:left;></i> 
                                <div class="small text-muted" style= float:left;>&nbsp;2021년 6월 15일&nbsp;</div>
                                <i class="far fa-folder-open" style= float:left;></i>
                                <div class="small text-muted" style= float:left;>&nbsp;월별활동&nbsp;</div>
                                <i class="fas fa-user" style= float:left;></i> 
                                <div class="small text-muted" style= float:left;>&nbsp;이건회&nbsp;</div> 
                                <div align="right">
                                    <div>
                                        <a href="#"><button href="#" type="button" class="btn btn-primary">수정하기</button></a>
                                        <a href="#"><button type="button" class="btn btn-primary">삭제하기</button></a>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <h2 class="card-title">&nbsp;6월 연탄봉사 활동</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>                            
                        </div>
                    </div>
                </div>            
            </div>
        </div>
        <br>
        <div class="container" id="clubcontainer">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">
                                <div margin-right:10px;>
                                <i class="fas fa-calendar-alt" style= float:left;></i> 
                                <div class="small text-muted" style= float:left;>&nbsp;2021년 7월 4일&nbsp;</div>
                                <i class="far fa-folder-open" style= float:left;></i>
                                <div class="small text-muted" style= float:left;>&nbsp;정기활동&nbsp;</div>
                                <i class="fas fa-user" style= float:left;></i> 
                                <div class="small text-muted" style= float:left;>&nbsp;이건회&nbsp;</div> 
                                <div align="right">
                                    <div>
                                        <a href="#"><button href="#" type="button" class="btn btn-primary">수정하기</button></a>
                                        <a href="#"><button type="button" class="btn btn-primary">삭제하기</button></a>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <h2 class="card-title">&nbsp;7월 정기회의 진행</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>                            
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>    
    </div>
</div>


{% endblock %}