{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="club_main">
    <div class="inner">

    <!-- Header -->
        <header id="header">
            <a href="{%url 'main:art'%}" > &#60;&#60;예창분과</a>
            <header>
                <h1 id = "club_name">서도회</h1>
            </header>
            <ul class="icons">
               
                <li><a href = "https://www.instagram.com/donggukdraw/"  target='_blank'></a></li>    
            </ul>
        </header>

    <!-- Content -->
            <div class = image_main><img src="{% static 'images/activity/calligraphy_activity.jpeg'%}" width="700px"></div>

            <div class = club_int_text>
            
            
                <p> 동국서도회(서예 동아리)에서 신입부원을 모집합니다.<br><br>

                    📌진행방식<br>
                    매주 화요일 오후 6시에 시작해서 2시간 가량 진행됩니다.<br>
                    졸업하신 선배 두 분이 직접 지도를 해주십니다.<br><br>

                    📌회비 X<br>
                    종이, 연습용 붓, 묵, 벼루가 모두 구비되어있습니다.<br>
                    개인 붓은 연습이 어느정도 된 후에 다같이 공동구매를 합니다.<br><br>

                    📌한자를 몰라도 O, 서예를 처음 배워도 O<br>
                    회장인 저를 포함해 대부분의 부원들이 서예 초보자입니다.<br>
                    초보라고 걱정마세요. 연습하는만큼 실력이 좋아지는게 눈에 보이니, 재밌는 활동이 가능합니다.<br><br>

                    📌좋은 시설<br>
                    선풍기와 히터로 여름엔 시원하고 겨울엔 따뜻하게<br>
                    냉장고와 전기포트의 구비로 차에 다과를 곁들여 담소를 나눌 수 있습니다.<br><br>

                    📌다양한 나이대<br>
                    16학번부터 20학번까지 다양한 학번대가 동아리에 참가하고 있습니다.<br>
                    신입생, 복학생, 고학번 상관없이 서예를 배우고 싶으시다면 주저말고 입부하시길!<br><br>
                 </p>
            
        </div>
    </div>
</div>

<div class="club">
    <div class="club_left"></div>
    <div class="club_center">
        <h1>서도회의 동아리 활동 내역</h1>
        <a class = "write_icon" href = "{% url 'main:calligraphy_new'%}"><p><i class="far fa-edit fa-3x"></i></p></a>
        <p>글 작성하기</p>
    </div>
</div>
{% for post in posts %}
<div class = 'club_activity'>
    <div class = 'club_activity_head'>
        <h1>{{post.title}}</h1>
    </div>
    <div class = 'club_activity_head_2' >
        <p>
            <p style= float:left;>
            <i class="fas fa-calendar-alt fa-lg"style= float:left;></i>
            <p>&nbsp;&nbsp;{{post.date}}</p>
            </p>
            <p>&nbsp;&nbsp;&nbsp;</p>
            <p>
            <i class="fas fa-user fa-lg" style= float:left;></i> 
            <p>&nbsp;&nbsp;{{post.writer}}</p>
            </p>
        </p>
    </div>

    <div class = 'club_activity_body'>
        {% if post.image %}
        <div class='club_activity_body_image'>
            <img class="rounded" src = "{{post.image.url}}" width=80% height=100%>
        </div>
        {% endif %}
        <div class = "club_activity_body_info">
            <h4>{{post.summary}}…</h4>
            <div class='club_activity_body_info_more'>
                <button type="button" onclick="location.href='{% url 'main:calligraphy_detail' post.id %}' ">더보기</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}