{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="club_main">
    <div class="inner">

    <!-- Header -->
        <header id="header">
            <a href="{%url 'main:art'%}" > &#60;&#60;예창분과</a>
            <header>
                <h1 id = "club_name">그리고그림</h1>
            </header>
            <ul class="icons">
               
                <li><a href = "https://www.instagram.com/donggukdraw/"  target='_blank'></a></li>    
            </ul>
        </header>

    <!-- Content -->
            <div class = image_main><img src="{% static 'images/activity/draw_activity.jpeg'%}" width="700px"></div>

            <div class = club_int_text>
            
            
                <p> 🎊동국대학교 중앙 그림 동아리 '그리고그림'에서 35기 신입부원을 모집합니다🎊<br>

                    안녕하세요, 여러분. 저희는 동국대 중앙 그림 동아리인 '그리고그림' 입니다.<br>
                    저희 동아리에서 신입부원을 모집하고 있으니 많은 관심 부탁드립니다!!<br><br>

                    🎨 나만의 작품을 만들어보고 싶으신 분<br>
                    🎨 미술에 관심 있으신 분<br>
                    🎨 취미 삼아 그림을 그려보고 싶으신 분<br>
                    🎨 부담 없는 동아리 활동을 즐기고 싶으신 분<br>
                    🎨 '창작'을 해보고 싶으신 분<br>
                    🎨 낙서를 좋아하시는 분<br>
                    🎨 그림/미술이 궁금하신 분<br>
                    🎨 그림/미술에 대해 배우고 싶으신 분<br>
                    🎨 그림 실력을 업그레이드 하고 싶으신 분<br>
                    모두모두 환영합니다!!<br><br>

                    🖼 동아리는 학생회관 3층에 위치해 있으며, Grigo Grim이라고 적혀있는 노란 간판을 찾아오시면 만나보실 수 있습니다!<br><br>

                    🖼 미술 전공자가 아니어도 상관 없습니다. 저희 동아리엔 오히려 타전공을 가진 부원들이 더 많습니다.<br>
                    (일단 회장, 부회장부터 미술전공자가 아닙니다 찡긋 0.)<br><br>

                    🖼 그리고그림 동아리에는 수채화, 아크릴, 이젤, 색연필, 스케치북, 미술용 연필 및<br>
                    지우개, 크레파스, 캔버스, 붓, 파스텔, 그림 노트 등 미술관련 비품들이 잔뜩 구비되어 있습니다.<br>
                    준비물 없이, 몸 편하게 오셔도 됩니다. 그 밖에 필요한 물품은 저희 임원진들에게 말씀해 주시면 구비해두겠습니다.<br><br>

                    🖼 저희 동아리의 모든 활동은 자유입니다. 원할 때만 참여하여도 무방하니,<br>
                    동아리 활동 참여에 부담 갖지 않으셔도 됩니다.<br><br>

                    🖼 저희 동아리 모토는 '잘 그리고 만들자' 가 아니라 '즐겁게 그리고 만들자' 입니다.<br>
                    그림 실력과 관계 없이 즐겁게 그리시기만 하면 오케이입니다 <br>
                    (끄적끄적 낙서도 괜찮아요 진짜루!!)<br><br>

                    🖼 저희 동아리는 늘 활짝 열려(open door)있습니다.<br>
                    그림 그리고 싶은데 그릴 데 or 갈 데가 없다, 저희 동아리에 오시면 됩니다!!!<br><br>

                    🖼 부원님들 너무 소중해요...... 많이 많이 들어와주세요.....<br><br>


                    👩‍🎨올해 계획된 활동👨‍🎨<br>
                    - 미술 세미나 강의<br>
                    - 그림 기초 연습 (ex. 크로키)<br>
                    - 자유 그림 활동 (ex. 낙서)<br>
                    - 캐리커쳐 그리기<br>
                    - 소묘 체험<br>
                    - 풍경 그리기 (ex. 동국대)<br><br>

                    코로나19 사태로 인해 부득이하게 실내(집)에서 할 수 있는 활동만 계획되어 있습니다.<br>
                    코로나19 사태가 완화되면 동아리 전시회 개최, 미술 전시회 방문도 진행할 예정입니다!<br><br>

                    오티일정: 3월 6일 (토) 오후 2시<br>


                    🎆모집대상: 동국대학교 학생 전체 (신입생, 재학생, 휴학생 상관×)<br>
                    🎆모집기간: 상시 모집<br>
                    (아래 번호로 연락 주세요!)<br>
                    회장: 010 8312 0542<br>
                    부회장: 010 9073 1567<br>
                 </p>
            
        </div>
    </div>
</div>

<div class="club">
    <div class="club_left"></div>
    <div class="club_center">
        <h1>그리고그림의 동아리 활동 내역</h1>
        <a class = "write_icon" href = "{% url 'main:draw_new'%}"><p><i class="far fa-edit fa-3x"></i></p></a>
        <p>글 작성하기</p>
    </div>
</div>
{% for post in posts %}
<div class = 'club_activity'>
    <div class = 'club_activity_head'>
        <h1>{{post.title}}</h1>
    </div>
    <div class = 'club_activity_head_2' >
        <p>
            <p style= float:left;>
            <i class="fas fa-calendar-alt fa-lg"style= float:left;></i>
            <p>&nbsp;&nbsp;{{post.date}}</p>
            </p>
            <p>&nbsp;&nbsp;&nbsp;</p>
            <p>
            <i class="fas fa-user fa-lg" style= float:left;></i> 
            <p>&nbsp;&nbsp;{{post.writer}}</p>
            </p>
        </p>
    </div>

    <div class = 'club_activity_body'>
        {% if post.image %}
        <div class='club_activity_body_image'>
            <img class="rounded" src = "{{post.image.url}}" width=80% height=100%>
        </div>
        {% endif %}
        <div class = "club_activity_body_info">
            <h4>{{post.summary}}…</h4>
            <div class='club_activity_body_info_more'>
                <button type="button" onclick="location.href='{% url 'main:draw_detail' post.id %}' ">더보기</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}