{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="club_main">
    <div class="inner">

    <!-- Header -->
        <header id="header">
            <a href="{%url 'main:atheletic'%}" > &#60;&#60;체육분과</a>
            <header>
                <h1 id = "club_name" >DUST</h1>
            </header>
            <ul class="icons">
               
                <li><a href = "https://www.facebook.com/%EB%8F%99%EA%B5%AD%EB%8C%80%ED%95%99%EA%B5%90-%EC%8A%A4%ED%82%A4%EB%B6%80-Dongguk-University-ski-team-1729677800677131/"  target='_blank'><p><i class="fab fa-facebook fa-2x "></i></a></li>
    
            </ul>
        </header>

    <!-- Content -->
            <div class = image_main><img src="{% static 'images/activity/dust_activity.jpeg'%}" width="700px"></div>

            <div class = club_int_text>
            
            
                <p> 🎊스키를 안타봤어도 걱정하지 마세요. 강사 자격증 보유자 다수! 선배들의 강습(공짜)으로 여러분들도 눈밭위를 멋지게 누빌 수 있어요😆<br></p>

               <p> DUST는 전국의 37개 스키동아리가 소속된, 그리고 매해 수백여명이 활동하는 ✡한국대학스키연맹✡ 소속입니다.<br>
               매해 스키장에서 다양한 사람들과 함께 스키를 타고 즐기며 특별한 겨울방학을 보내고 있습니다.<br>
                스키를 타지 않는 비시즌에도 수상스키, 대학스키연맹 연합MT, 대학스키연맹 체육대회 등등 다른 학교 부원들과 친해질 수 있는 다양한 활동을 한답니다.<br>
                놓치면 손해니까 미리미리 가입하세요~!!<br>
                또한 원래 스키부는 매주 금요일 6시에 정모를 합니다만 코로나19가 기승을 부리고 있는 시기기 때문에 부원들과의 회의를 통해 조절할 생각입니다!<br>
                시즌이 시작되면, 약 6주 가량의 합숙을 진행합니다.<br>
                합숙 중에도 연맹 내 다양한 학교와의 대면식, 강릉 나들이와 같은 활동을 계속 한답니다~<br>
                시즌 동안 갈고 닦은 실력은 시즌 말 대학스키연맹 대회에서 마음껏 발휘할 수 있습니다!<br>
                동계올림픽 알파인 스키종목과 동일한 대회를 진행하고, 신인배는 별도로 진행하기 때문에 신입생도 부담없이 대회에 출전할 수 있습니다.<br>
                스키 못타도 괜찮아요!😆<br>
                타본적 없어도 괜찮아요!😋<br>
                스키 잘타는 선배들이 부츠 신는것부터 끈기있게 알려드려요!🤗<br>
                </p>
                
               <p>가입하고 싶은 분은<br>
                    ⚠️구글 폼 <a href="https://forms.gle/jmqRWX8Mdb4hEiiS9">지원하기</a>
                    혹은 아래로 연락주세요!!<br>
                    ⚠️주장 조경서 010-3009-5932<br>
                    ⚠️부주장 김다은 010-8203-1316<br>
                    ⚠️인스타그램 메세지(DM) @dgu_skiii<br>
                    ⚠️오픈카톡 문의 <a href="https://open.kakao.com/o/stBf6f0c">클릭</a><br>
                    ⚠️학생회관 4층 스키부 동방으로 방문해주세요!
                    (학기 중 아무때나 동방 문을 두드려주시면 친절히 반겨줄겁니다!)</p>
            </p>
            
        </div>
    </div>
</div>

<div class="club">
    <div class="club_left"></div>
    <div class="club_center">
        <h1>DUST의 동아리 활동 내역</h1>
        <a class = "write_icon" href = "{% url 'main:dust_new'%}"><p><i class="far fa-edit fa-3x"></i></p></a>
        <p>글 작성하기</p>
    </div>
</div>
{% for post in posts %}
<div class = 'club_activity'>
    <div class = 'club_activity_head'>
        <h1>{{post.title}}</h1>
    </div>
    <div class = 'club_activity_head_2' >
        <p>
            <p style= float:left;>
            <i class="fas fa-calendar-alt fa-lg"style= float:left;></i>
            <p>&nbsp;&nbsp;{{post.date}}</p>
            </p>
            <p>&nbsp;&nbsp;&nbsp;</p>
            <p>
            <i class="fas fa-user fa-lg" style= float:left;></i> 
            <p>&nbsp;&nbsp;{{post.writer}}</p>
            </p>
        </p>
    </div>

    <div class = 'club_activity_body'>
        {% if post.image %}
        <div class='club_activity_body_image'>
            <img class="rounded" src = "{{post.image.url}}" width=80% height=100%>
        </div>
        {% endif %}
        <div class = "club_activity_body_info">
            <h4>{{post.summary}}…</h4>
            <div class='club_activity_body_info_more'>
                <button type="button" onclick="location.href='{% url 'main:dust_detail' post.id %}' ">더보기</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}