{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="club_main">
    <div class="inner">

    <!-- Header -->
        <header id="header">
            <a href="{%url 'main:performance'%}" > &#60;&#60;공연분과</a>
            <header>
                <h1 id = "club_name" >피어리스던</h1>
            </header>
            <ul class="icons">
               
                <li><a href = "https://www.instagram.com/_fearless.dawn/"  target='_blank'><p><i class="fab fa-instagram fa-2x "></i></a></li>
    
            </ul>
        </header>

    <!-- Content -->
            <div class = image_main><img src="{% static 'images/activity/fearless_activity.png'%}" width="800" height="500"/></div>

            <div class = club_int_text>
            
            
                <p> 안녕하세요~! 동국대학교 중앙락밴드동아리 피어리스던입니다!!<br><br>

                    🤘 피어리스던은 동국대 유일 락밴드동아리로, 락을 중심으로 다양한 장르의 음악을 공유하고 즐길 수 있는 동아리입니다. 매년 학교 축제 및 박람회 무대를 포함하여 자체적으로 진행하는 연 3회 클럽공연, 버스킹 등 다양한 공연을 선보이고 있습니다.<br><br>
                    
                    🎸 정기회의는 매주 목요일 오후 6시 30분입니다. 전체적인 동아리 공지사항과 행사를 안내해드리고, 부원들의 건의사항도 적극적으로 수렴하기 위해 노력하고 있습니다. 회의 후에는 피어리스던의 음악감상회가 진행됩니다. 매주 1-2명 씩 부원들이 소개하고 싶은 밴드와 음악에 대해 이야기하고 함께 감상할 수 있는 시간입니다.<br>
                    현재는 코로나로 인하여 웹엑스를 통해 온라인 음악감상회를 진행하고 있습니다. 오프라인 활동이 불가능한 아쉬운 상황이지만 좋은 음악과 즐거운 대화를 나누며 서로 가까워질 기회가 되었으면 좋겠습니다.<br><br>
                    
                    🤘 피어리스던의 동아리방은 학생회관 5층 복도 끝에서 두 번째에 위치하고 있습니다. (현재 동아리방은 허가를 받는 제한적 출입이 가능한 상태로 실질적인 활동은 불가능합니다. 추후에 이용 제한이 풀릴 경우 공지드리겠습니다.) 동아리방에는 공용 기타, 베이스, 드럼, 키보드, 마이크, 앰프들이 구비되어 있고 부원들은 자유롭게 이용 가능합니다. 개인 연습과 합주를 하고, 음악을 들으면서 부원들과 친해지고, 다같이 식사도 하고, 공강시간에 피곤하면 한숨 낮잠도 자고 갈 수 있는 공간입니다! 🤗🤗<br><br>
                    
                    🎸 악기 연주 경력이 없더라도 가입 가능합니다. 악기를 배우고 싶어하는 부원들을 대상으로 매 학기마다 동아리 선배들이나 외부 강사를 초청하여 기타, 드럼, 키보드, 보컬, 베이스 세션별 수업을 진행해왔습니다. 악기를 전혀 다루지 못했는데 동아리에 들어와서 배우고 공연까지 한 부원들이 정말 많아요! 현재는 코로나로 인해 수업 개설이 어렵지만 추후 동아리방 이용이 가능해지면 재개될 예정입니다.<br>
                    악기 연주에 관심이 없으시더라도 괜찮습니다. 동아리 부원들과 서로 음악을 추천해주고, 관련된 얘기를 하는 것만으로도 충분히 즐겁게 어울릴 수 있습니다! 락 페스티벌이나 콘서트를 함께 즐기러 가기도 한답니다. 😊<br><br>
                    
                    🤘 사회적 거리두기가 완화될 경우, 방역 수칙을 준수한 여름 클럽공연(온라인 스트리밍)을 계획하고 있습니다. 진행 여부는 충분한 사전 수요조사와 협의를 통해 결정할 예정입니다.<br><br>
                    안전한 만남이 가능해질 때까지 온라인 활동을 통해 서로를 알아가고 친해지는 시간을 가져봐요! 신입부원분들을 기다리고 있겠습니다.<br>
                    
            </p>
            
        </div>
    </div>
</div>

<div class="club">
    <div class="club_left"></div>
    <div class="club_center">
        <h1>피어리스던의 동아리 활동 내역</h1>
        <a class = "write_icon" href = "{% url 'main:fearless_new'%}"><p><i class="far fa-edit fa-3x"></i></p></a>
        <p>글 작성하기</p>
    </div>
</div>
{% for post in posts %}
<div class = 'club_activity'>
    <div class = 'club_activity_head'>
        <h1>{{post.title}}</h1>
    </div>
    <div class = 'club_activity_head_2' >
        <p>
            <p style= float:left;>
            <i class="fas fa-calendar-alt fa-lg"style= float:left;></i>
            <p>&nbsp;&nbsp;{{post.date}}</p>
            </p>
            <p>&nbsp;&nbsp;&nbsp;</p>
            <p>
            <i class="fas fa-user fa-lg" style= float:left;></i> 
            <p>&nbsp;&nbsp;{{post.writer}}</p>
            </p>
        </p>
    </div>

    <div class = 'club_activity_body'>
        {% if post.image %}
        <div class='club_activity_body_image'>
            <img class="rounded" src = "{{post.image.url}}" width=80% height=100%>
        </div>
        {% endif %}
        <div class = "club_activity_body_info">
            <h4>{{post.summary}}…</h4>
            <div class='club_activity_body_info_more'>
                <button type="button" onclick="location.href='{% url 'main:fearless_detail' post.id %}' ">더보기</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}