{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="club_main">
    <div class="inner">

    <!-- Header -->
        <header id="header">
            <a href="{%url 'main:social'%}" > &#60;&#60;사회분과</a>
            <header>
                <h1 id = "club_name" >프론티어</h1>
            </header>
            <ul class="icons">
               
                <li><a href = "https://www.instagram.com/frontier_dongguk/"  target='_blank'><p><i class="fab fa-instagram fa-2x "></i></a></li>
    
            </ul>
        </header>

    <!-- Content -->
            <div class = image_main><img src="{% static 'images/프론티어.jpg'%}" width="800" height="500"/></div>

            <div class = club_int_text>
            
            
                <p> 🏛동국대학교 중앙 창업동아리 프론티어🏛<br><br>

                    📌신입생도 부담없이 활동 가능합니다<br>
                    📌창업에 대해 잘 몰라도 의지만 있다면 ok<br><br>
                    
                    #창업 #아이디어구상 #창업트렌드분석 #사업계획서작성 #다양한OB선배님들과의만남까지!<br><br>
                    
                    ✔️창업에 관심이 있으신 분, 창업 관련 스펙을 쌓고 싶으신 분, 팀원을 구하고 싶으신 분들 모두를 환영합니다!<br>
                    ✔️창업에 대해 잘 모르더라도 하나씩 알아가고 열심히 참여할 마음가짐만 있다면 Yes! 부담없이 지원해주세요😄(신입생도 부담없이 가능합니다 : )<br>
                    ✔️침대, 소파, 냉장고, 에어컨, 사물함, 세미나 책 등이 있는 넓직한 동방이 있습니다.<br><br>
                    
                    🔸활동 내용 : 창업관련 정보공유부터 기업분석, 트렌드 파악, 시장조사, 창업경험있으신 OB선배들과의 만남, 개인 발표 및 팀발표까지! 창업에대해 알고 싶다면 꼭 알아야할것들을 함께 배워나갑니다!자세한 내용은 하단 포스터 참고해주세요 : )<br>
                    🔸활동 시각 : 매 주 목요일 6시 30분 정기회의(시험기간 주 제외)<br>
                    ＊코로나 확진단계에 따라 집합금지 시 webex를 통한 활동으로 변경합니다.<br>
                    면접 일정과 합격자 발표는 추후 개별적으로 공지합니다<br>
                    🔸활동비 : 활동비 3만원<br><br>

                    ❗️문의사항<br>
                    오픈채팅방 링크<br>
                    <a href = 'https://open.kakao.com/o/gIiJD4Wc'>https://open.kakao.com/o/gIiJD4Wc</a><br>
            </p>
            
        </div>
    </div>
</div>

<div class="club">
    <div class="club_left"></div>
    <div class="club_center">
        <h1>프론티어의 동아리 활동 내역</h1>
        <a class = "write_icon" href = "{% url 'main:frontier_new'%}"><p><i class="far fa-edit fa-3x"></i></p></a>
        <p>글 작성하기</p>
    </div>
</div>
{% for post in posts %}
<div class = 'club_activity'>
    <div class = 'club_activity_head'>
        <h1>{{post.title}}</h1>
    </div>
    <div class = 'club_activity_head_2' >
        <p>
            <p style= float:left;>
            <i class="fas fa-calendar-alt fa-lg"style= float:left;></i>
            <p>&nbsp;&nbsp;{{post.date}}</p>
            </p>
            <p>&nbsp;&nbsp;&nbsp;</p>
            <p>
            <i class="fas fa-user fa-lg" style= float:left;></i> 
            <p>&nbsp;&nbsp;{{post.writer}}</p>
            </p>
        </p>
    </div>

    <div class = 'club_activity_body'>
        {% if post.image %}
        <div class='club_activity_body_image'>
            <img class="rounded" src = "{{post.image.url}}" width=80% height=100%>
        </div>
        {% endif %}
        <div class = "club_activity_body_info">
            <h4>{{post.summary}}…</h4>
            <div class='club_activity_body_info_more'>
                <button type="button" onclick="location.href='{% url 'main:frontier_detail' post.id %}' ">더보기</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}