{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="club_main">
    <div class="inner">

    <!-- Header -->
        <header id="header">
            <a href="{%url 'main:volunteer'%}" > &#60;&#60;봉사분과</a>
            <header>
                <h1 id = "club_name" >손짓사랑회</h1>
            </header>
            <ul class="icons">
               
                <li><a href = "https://www.facebook.com/sonsa0815/""  target='_blank'><p><i class="fab fa-facebook-f fa-2x "></i></a></li>
    
            </ul>
        </header>

    <!-- Content -->
            <div class = image_main><img src="{% static 'images/activity/hand_activity.jpg'%}" width="900" height="600"/></div>

            <div class = club_int_text>
            
            <p>

            <strong> 🤝’손짓사랑회’란?<br><br></strong>

                손짓사랑회는 수화(手話)를 배울 수 있고, 봉사활동도 할 수 있는 동국대학교 중앙 동아리입니다!<br>
                ★수화란 손의 움직임과 얼굴, 표정, 몸짓을 사용하여 표현하는 시각언어입니다.<br><br>
                
                다양한 체험을 통해 배우는 언어인 만큼 많은 분들이 흥미를 느끼실 수 있고 어렵지 않아요!! 😉<br><br>
                
                
            <strong>  ☝️어떤 활동이 있나요?  <br>   </strong>          
                *학기 단위로 (재미있는!) 수화수업이 진행되며, 학기 마지막 활동으로 수료식에 참가하게 됩니다. <br>             
                *수료식 준비뿐만 아니라 개별적인 청각장애아동 봉사나 비정기적인 봉사활동, 희망자에 한한 심화수업 등을 통해 수화에 대해 이해하고 사용해보는 시간을 가질 수 있습니다.  <br>             
                *이전 활동으로는 삼성소리샘복지관과 연계한 수화골든벨 참여, 창립제, 농인 수어통역사 특강, 수료식 등 다양한 활동을 진행하였는데, 
                이 외에도 부원들끼리 소모임을 만들거나 MT를 가는 등 화목한 분위기의 동아리입니다.            <br>   
                *이전에 개최한 수화골든벨에서 부원들이 1, 2, 3위를 차지한 것은 물론 1~8위 내에 7명의 이름을 올렸으며, 
                현재 선배님들 중 수화 통역사로 활동하고 계시는 분들이 있을 정도로 수화에 열정이 있는 동아리입니다.<br>
                
                *한 달에 한 번 은평구에 위치한 기관에서 정기봉사를 하고 있습니다. <br>
                수화에 한정짓지 않고 봉사를 신청받아 다양한 봉사를 하기도 합니다!
                <br><br>
                
                
            <strong>  👍(모든 활동은 필참이 아니며 매우 자유로운 분위기의 동아리입니다.)<br><br></strong>
                
                
                                
        <strong>    ☝️수화동아리는 수화만 배우나요?<br></strong>
                신입생환영회, 개강총회, 수업 뒷풀이 등 다양한 사람과 친해질 기회를 열어놓고 있습니다.<br>
                또 동방에서 놀고있는 화이트 보드, 피아노, 보드게임, 미러볼 등 잡동사니가 많습니다! 작년에도 다양한 소모임들이 많았는데 이번년도에도 활발한 활동이 예상됩니다!<br>
                이외에도 함께 모여 시험공부를 하거나, 동방에서 음식을 만들어먹고, MT를 가는 등 즐겁고 많은 추억을 쌓았었는데요, 이번 년도에도 수화활동 이외의 재미있는 시간을 보낼 예정입니다!<br>
                👆이번 21-1학기 수화수업은 웹엑스를 활용한 온라인 수화세미나로 대체될 예정입니다!!<br><br>

           
                *위의 봉사등을 비롯한 모든 야외 활동들은 사회적 거리두기에 의해 연기되었습니다.<br>
                이외에 궁금하신 것이 있으시면 마음껏 질문해주세요!<br><br>


            <strong>☝️가입은?<br></strong>
                기존엔 면접을 통해 진행하였지만 올해부터는 홍보부장에게 연락을 주시고 카카오톡을 통해 받은 가입신청서를 작성해주시면 됩니다!!<br><br>

            <strong> ☝️관심 있으신 분들은<br></strong>
                홍보부장 백종원 010-5235-9538<br>
                으로 연락 혹은 동방을 방문해주세요!<br><br>

                🙏모두들 신종 코로나 바이러스 !! 조심하세오👻<br><br>


                *사회적 거리두기로 인해 봉사 등을 비롯한 야외에서 하는 활동들은 모두 연기되었습니다.<br>


            </p>
            
        </div>
    </div>
</div>

<div class="club">
    <div class="club_left"></div>
    <div class="club_center">
        <h1>손짓사랑회의 동아리 활동 내역</h1>
        <a class = "write_icon" href = "{% url 'main:hand_new'%}"><p><i class="far fa-edit fa-3x"></i></p></a>
        <p>글 작성하기</p>
    </div>
</div>
{% for post in posts %}
<div class = 'club_activity'>
    <div class = 'club_activity_head'>
        <h1>{{post.title}}</h1>
    </div>
    <div class = 'club_activity_head_2' >
        <p>
            <p style= float:left;>
            <i class="fas fa-calendar-alt fa-lg"style= float:left;></i>
            <p>&nbsp;&nbsp;{{post.date}}</p>
            </p>
            <p>&nbsp;&nbsp;&nbsp;</p>
            <p>
            <i class="fas fa-user fa-lg" style= float:left;></i> 
            <p>&nbsp;&nbsp;{{post.writer}}</p>
            </p>
        </p>
    </div>

    <div class = 'club_activity_body'>
        {% if post.image %}
        <div class='club_activity_body_image'>
            <img class="rounded" src = "{{post.image.url}}" width=80% height=100%>
        </div>
        {% endif %}
        <div class = "club_activity_body_info">
            <h4>{{post.summary}}…</h4>
            <div class='club_activity_body_info_more'>
                <button type="button" onclick="location.href='{% url 'main:hand_detail' post.id %}' ">더보기</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}