{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="club_main">
    <div class="inner">

    <!-- Header -->
        <header id="header">
            <a href="{%url 'main:research'%}" > &#60;&#60;연구분과</a>
            <header>
                <h1 id = "club_name" >국제통상학</h1>
            </header>
            <ul class="icons">
               
                <li><a href = "" ></a></li>
    
            </ul>
        </header>

    <!-- Content -->
            <div class = image_main><img src="{% static 'images/activity/international_activity.jpg'%}" width="800" height="500"/></div>

            <div class = club_int_text>
            
            
                <p> 
                    1. 동아리 소개<br>
                    MT, 소풍, 멘토멘티 (학술적인 멘토링을 포함한 전반적 학교생활의 도움 및 유용한 정보제공), 여행, 마니또 등 다양한 친목활동<br>
                    사회진출하신 선배님들과의 교류<br>
                    우수재학생 대상 동문회 장학금 수여<br>
                    재학생간 자유로운 스터디활동지원<br><br>
                    
                    
                    2. 현재 활동인원<br>
                    
                    학기마다 40명 내외의 인원으로 활동합니다.<br>
                    
                    학번별 15명 내외의 동아리인원<br><br>
                    
                     
                    3. 지원방법<br>
                    
                    자격 국제통상학과 1,2 학년 재학생 / 타과생 복전생은 학년제한 없음<br>
                    
                    모집인원 00명<br>
                    
                    모집일정 차후 공지 (개강 후 셋째 주 수요일)<br>
                    
                    지원방법 지원기간 내지원서 작성 후 제출<br>
                    
                    -문의대표자 성함, 연락처/ 동방위치) :<br>
                    
                    실장 오윤석 010 6559 9298 / 위치 : 경영관 지하1층 그루터기 옆<br>
                    
                    부실장 김기호 010 5066 7248<br>
                    
                    총무 박세진 010 4379 7747<br><br>
                    
                    
                    4. 회장의 한마디<br>
                    
                    연구실에서 다 같이 맛있는것도 먹고 놀러도가면서 다양하고 재미있는 추억들을 함께 만들어갈 수 있으면 좋겠어요! 수업 사이사이 공강에는 모여서 수다도 떨면서 간식도 먹고, 시험기간에는 다같이 열심히 재미있게 공부해요! 연구실에 들어와서 즐거운 캠퍼스라이프를 보낼 수 있으면 좋겠어요! <br><br>
            </p>
            
        </div>
    </div>
</div>

<div class="club">
    <div class="club_left"></div>
    <div class="club_center">
        <h1>국제통상학연구회의 동아리 활동 내역</h1>
        <a class = "write_icon" href = "{% url 'main:international_new'%}"><p><i class="far fa-edit fa-3x"></i></p></a>
        <p>글 작성하기</p>
    </div>
</div>
{% for post in posts %}
<div class = 'club_activity'>
    <div class = 'club_activity_head'>
        <h1>{{post.title}}</h1>
    </div>
    <div class = 'club_activity_head_2' >
        <p>
            <p style= float:left;>
            <i class="fas fa-calendar-alt fa-lg"style= float:left;></i>
            <p>&nbsp;&nbsp;{{post.date}}</p>
            </p>
            <p>&nbsp;&nbsp;&nbsp;</p>
            <p>
            <i class="fas fa-user fa-lg" style= float:left;></i> 
            <p>&nbsp;&nbsp;{{post.writer}}</p>
            </p>
        </p>
    </div>

    <div class = 'club_activity_body'>
        {% if post.image %}
        <div class='club_activity_body_image'>
            <img class="rounded" src = "{{post.image.url}}" width=80% height=100%>
        </div>
        {% endif %}
        <div class = "club_activity_body_info">
            <h4>{{post.summary}}…</h4>
            <div class='club_activity_body_info_more'>
                <button type="button" onclick="location.href='{% url 'main:international_detail' post.id %}' ">더보기</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}