{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="club_main">
    <div class="inner">

    <!-- Header -->
        <header id="header">
            <a href="{%url 'main:atheletic'%}" > &#60;&#60;체육분과</a>
            <header>
                <h1 id = "club_name" >검도부</h1>
            </header>
            <ul class="icons">
               
                <li><a href = "https://www.instagram.com/dongguk_kumdo/"  target='_blank'><p><i class="fab fa-instagram fa-2x "></i></a></li>    
            </ul>
        </header>

    <!-- Content -->
            <div class = image_main><img src="{% static 'images/activity/kendo_activity.jpeg'%}" width="700px"></div>

            <div class = club_int_text>
            
            
                <p> 📣 검도부 51기 신입부원을 모집합니다!!<br><br>


                    🗡안녕하세요~ 동국대학교 검도부입니다!🗡 검도부의 새 가족을 모집하고 있습니다.<br><br>


                    ✔️ 무슨 동아리인가요?<br><br>


                    검도부는 동국대학교 중앙동아리입니다. 1970년부터 시작되어 전통이 살아숨쉬고 선배님들과의 교류도 활발한 역사적인 동아리입니다.<br>
                    검도부에는 검도에 관심을 가진 사람이라면 ★누구든!★ 가입할 수 있습니다. 검도가 처음이라도 걱정 안 하셔도 됩니다. 대부분의 신입부원이 검도가 처음입니다.<br>
                    저희와 함께 차근차근 배우고 같이 운동하면 1년 후에는 죽도를 제 몸처럼 휘두르는 자신을 볼 수 있으실 겁니다.<br><br>

                    회비는 학기당 4만원입니다. 비싸다고 생각하실 수도 있지만 죽도, 도복 및 호구 등을 모두 빌려드리고 회식비나 동아리방 내 비품,<br>
                    대회비로 사용되므로 열심히 활동하시면 절대 비싸게 느껴지지 않으실 겁니다.<br><br>

                    죽도로 상대를 공격하는 운동이라 검도가 위험하다고 생각하실 수도 있지만 보호구(호구)를 착용하므로 안전합니다.<br>
                    때문에 검도는 다른 운동에 비해 부상이 적다고 자신합니다.<br>
                    또 동아리에 공용으로 사용하는 호구가 비치되어 있어 호구를 반드시 구입할 필요는 없습니다.<br>
                    근력이 약해 걱정이시라면 500그램(여성용 400g) 정도의 죽도를 다루며 근력을 기르실 수 있습니다.<br><br>


                    ✔️ 재미있나요?<br><br>

                    운동 동아리인 만큼 교내 운동을 기본으로, 대회에 참가하며 검도 경험을 쌓습니다. 하지만 운동만 하는 딱딱한 동아리는 아닙니다.<br>
                    동아리 MT도 가고, 운동 합숙을 가기도 하고 방학 때는 동아리 회비로 개최되는 여행을 짧게 갔다오기도 합니다!<br>
                    동기들과, 선후배들과 친해지는 건 역시 동아리가 제일이죠?<br>
                    또, 저희 동아리는 동아리방이 편하기로 소문이 나있습니다.<br>
                    그 안에서 운동 후 회포를 풀고, 같이 친목을 다지는 등 행복한 추억을 가득 쌓으실 수 있을거라 장담합니다!!<br><br>

                    또 검도부는 술을 강요하거나 군기를 잡는 등의 꼰대 문화가 절대 없습니다! 당연히 나이제 이기도 하구요ㅎㅎ<br>
                    공강 시간에는 편하게 동아리방 소파에 누워 낮잠을 청하는 것도 좋습니다~!<br><br>



                    ✔️ 운동은 언제 어디서 하나요?<br><br>


                    운동은 월~금 5시이후 학교 체육관에서 운동합니다.<br><br>

                    운동은 자율 참석으로 매일 나오지 않으셔도 전혀 상관 없습니다.<br><br>

                    또 학생회관에는 샤워실이 있으니, 운동 후에 씻으러 가실 수 있습니다.<br>
                    생각하시는 것보다 매우 힘든 운동이라(칼로리소모 수영과 동급!) 다이어트 효과도 보장해 드립니다!<br><br>


                    ✔️ 대외활동은?<br>

                    서울권의 다른 대학 검도부와 함께 운동하는 교류전을 통해 대학간 소통이 활발하며,<br>
                    1년에 2~3개 정도의 검도 대회에 출전해 수상하고 추억도 쌓을 수 있습니다.<br><br>


                    ✔️ 동아리방 위치 및 연락처<br><br>


                    학생회관 4층 검도부<br><br>

                    동아리에 대해 더 자세히 알고싶으신 분들은 저희 인스타를 찾아와주세요~😊😊<br>

                    홍보영상: <a href="https://youtu.be/ZPq3V1ZZT0E">클릭</a><br>
                    <a href="https://youtu.be/B2ralsZvt28">클릭</a><br><br>

                    카톡ID: donggukkumdo<br>
                    오픈채팅:<a href="https://open.kakao.com/o/s1bD0pYc">클릭</a><br>
                    으로 연락주시면 됩니다!<br>
                 </p>
            
        </div>
    </div>
</div>

<div class="club">
    <div class="club_left"></div>
    <div class="club_center">
        <h1>검도부의 동아리 활동 내역</h1>
        <a class = "write_icon" href = "{% url 'main:kendo_new'%}"><p><i class="far fa-edit fa-3x"></i></p></a>
        <p>글 작성하기</p>
    </div>
</div>
{% for post in posts %}
<div class = 'club_activity'>
    <div class = 'club_activity_head'>
        <h1>{{post.title}}</h1>
    </div>
    <div class = 'club_activity_head_2' >
        <p>
            <p style= float:left;>
            <i class="fas fa-calendar-alt fa-lg"style= float:left;></i>
            <p>&nbsp;&nbsp;{{post.date}}</p>
            </p>
            <p>&nbsp;&nbsp;&nbsp;</p>
            <p>
            <i class="fas fa-user fa-lg" style= float:left;></i> 
            <p>&nbsp;&nbsp;{{post.writer}}</p>
            </p>
        </p>
    </div>

    <div class = 'club_activity_body'>
        {% if post.image %}
        <div class='club_activity_body_image'>
            <img class="rounded" src = "{{post.image.url}}" width=80% height=100%>
        </div>
        {% endif %}
        <div class = "club_activity_body_info">
            <h4>{{post.summary}}…</h4>
            <div class='club_activity_body_info_more'>
                <button type="button" onclick="location.href='{% url 'main:kendo_detail' post.id %}' ">더보기</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}