{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="club_main">
    <div class="inner">

    <!-- Header -->
        <header id="header">
            <a href="{%url 'main:social'%}" > &#60;&#60;사회분과</a>
            <header>
                <h1 id = "club_name" >KUSA</h1>
            </header>
            <ul class="icons">
               
                <li><a href = "https://www.instagram.com/kusa_.dgu/"  target='_blank'><p><i class="fab fa-instagram fa-2x "></i></a></li>
    
            </ul>
        </header>

    <!-- Content -->
            <div class = image_main><img src="{% static 'images/activity/kusa_activity.jpg'%}" width="800" height="500"/></div>

            <div class = club_int_text>
            
            
                <p> 👉 KUSA란?<br><br>

                    KUSA란 Korean UNESCO Student Association의 약자로 유네스코 한국 위원회에서 공식적으로 인가받은 학생 단체입니다. 수도권 약 20여개의 대학들과 유네스코 이념 실현을 위해 다양한 활동을 하는 연합 동아리로서 동국대학교 KUSA는 특히 봉사활동을 중점으로 하여 유네스코의 이념을 실현 중입니다.<br><br>
                    
                    👉 주요활동 소개<br><br>
                    
                    ⭐ KIA 자동차에서 후원하는 우면종합사회복지관 주관 KIA Challenge 프렌토링 활동(정기 멘토링 봉사)<br>
                    ⭐ 주 1회(예정) 업로드 되는 다양한 단기/비정기 봉사<br>
                    ⭐ 맛집탐방, 문화체험(뮤지컬, 연극, 전시회 등), 스포츠 단체 관람 등의 번개모임<br>
                    ⭐수도권 약 20여개의 대학들과의 다양한 연합활동 (올해는 성균관 대학교와 함께 합니다!)<br>
                    ⭐유네스코 한국 위원회에서 주최하는 여러 프로그램 참여<br><br>
                    
                    👉 KUSA의 장점<br><br>
                    
                    1️⃣ 본인이 원하는 시간대, 원하는 봉사 참여가능!<br>
                    2️⃣ 필수로 참여해야 하는 행사가 없으므로 부담❌<br>
                    3️⃣ 다양한 전공, 다양한 학번의 학생들과의 교류🤝<br>
                    4️⃣ 에어컨, 난방기, 공기청정기가 모두 구비되어 있는 쾌적한 동아리방🧸<br>
                    5️⃣ 타 대학 KUSA 학생들과 친해질 수 있는 연합활동<br>
                    6️⃣ 유네스코 한국 위원회에서 주최하는 다양한 캠페인, 강연 활동 참여 가능<br><br>
                    
                    🌹회비는 한 학기 5000원입니다.🌹<br>
                    회비는 단체 봉사활동 간식 지원, 동아리 사업 지원, 동아리방 비품 구입, 시험기간 간식행사 등에 쓰일 예정이며 매달 말일에 동아리 회비 장부를 공개 예정입니다❗<br><br>
                    
                    
                    👉지원서<br>
                    <a href = 'http://naver.me/GPrf6VXa'>http://naver.me/GPrf6VXa</a><br>
                    회비 제출 후 네이버 폼으로 작성 부탁드립니다😊💛<br><br>

                    ✔동아리방은 학생회관 3층에 위치합니다.<br><br>

                    ✔문의사항은 카톡이나 문자 부탁드립니다.<br>
                    ▪️ 회 장 : 01045125721(김소영)<br>
                    ▪️ 부회장 : 01040492331(이수정)<br>
                    ▪️ 총 무 : 01031607555(김해인)<br><br>
            </p>
            
        </div>
    </div>
</div>

<div class="club">
    <div class="club_left"></div>
    <div class="club_center">
        <h1>KUSA의 동아리 활동 내역</h1>
        <a class = "write_icon" href = "{% url 'main:kusa_new'%}"><p><i class="far fa-edit fa-3x"></i></p></a>
        <p>글 작성하기</p>
    </div>
</div>
{% for post in posts %}
<div class = 'club_activity'>
    <div class = 'club_activity_head'>
        <h1>{{post.title}}</h1>
    </div>
    <div class = 'club_activity_head_2' >
        <p>
            <p style= float:left;>
            <i class="fas fa-calendar-alt fa-lg"style= float:left;></i>
            <p>&nbsp;&nbsp;{{post.date}}</p>
            </p>
            <p>&nbsp;&nbsp;&nbsp;</p>
            <p>
            <i class="fas fa-user fa-lg" style= float:left;></i> 
            <p>&nbsp;&nbsp;{{post.writer}}</p>
            </p>
        </p>
    </div>

    <div class = 'club_activity_body'>
        {% if post.image %}
        <div class='club_activity_body_image'>
            <img class="rounded" src = "{{post.image.url}}" width=80% height=100%>
        </div>
        {% endif %}
        <div class = "club_activity_body_info">
            <h4>{{post.summary}}…</h4>
            <div class='club_activity_body_info_more'>
                <button type="button" onclick="location.href='{% url 'main:kusa_detail' post.id %}' ">더보기</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}