{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="club_main">
    <div class="inner">

    <!-- Header -->
        <header id="header">
            <a href="{%url 'main:art'%}" > &#60;&#60;예창분과</a>
            <header>
                <h1 id = "club_name">동국문학회</h1>
            </header>
            <ul class="icons">
               
                <li><a href = "https://www.facebook.com/DongGugmunhaghoe/"  target='_blank'></a><i class="fab fa-facebook fa-2x "></i></li>    
            </ul>
        </header>

    <!-- Content -->
            <div class = image_main><img src="{% static 'images/activity/literal_activity.jpeg'%}" width="700px"></div>

            <div class = club_int_text>
            
            
                <p> 🤚동국문학회 지원 자격?<br>
                    문학을 좋아하시는 분, 책이나 글쓰기에 관심을 가지고 싶어하시는 분이라면 모두 가입할 수 있습니다!!😄<br>
                    (타학교 학생도 가입했던 적이 있었습니다 ㅎㅎ)<br><br>

                    🤚동국문학회의 활동?<br>
                    원래 동아리방에서 정기합평을 진행했으나 코로나 19로 인해 온라인 합평(목요일 8시 반 예정!)을 진행합니다.<br>
                    그리고 비정기활동으로 블라인드 백일장과 글나눔을 진행합니다.<br><br>

                    🤚합평이 뭔가요?<br>
                    회원님들이 쓰신 작품을 같이 읽어보고 작품에 대한 여러 이야기를 나누는 활동입니다.<br>
                    많은 전문성을 필요로 하지 않습니다. 그냥 작품을 읽고 느꼈거나 생각나는 점을 자유롭게 말씀해주시면 됩니다.<br>
                    좋아하는 작가의 작품이나 회원들과 공유하고 싶은 작품도 합평을 진행합니다.<br>
                    적극적으로 참여하시면 아주 재미있는 시간이 될겁니다😄😄<br>
                    ☆ 신입회원은 1학기 전체 합평 중 2번은 필참해주셔야 합니다.<br><br>

                    🤚비정기활동은 어떤건가요??<br>
                    블라인드 백일장은 익명으로 한 주제에 대해 자유롣게 글을 쓰고 장원을 뽑는 활동입니다.<br>
                    글나눔은 다른 학교의 문학동아리와의 합평을 하는 행사입니다.<br>
                    이외에 문집 제작, 친목 활동 등 많은 활동을 계획하고 있습니다!!<br>
                 </p>
            
        </div>
    </div>
</div>

<div class="club">
    <div class="club_left"></div>
    <div class="club_center">
        <h1>동국문학회의 동아리 활동 내역</h1>
        <a class = "write_icon" href = "{% url 'main:literal_new'%}"><p><i class="far fa-edit fa-3x"></i></p></a>
        <p>글 작성하기</p>
    </div>
</div>
{% for post in posts %}
<div class = 'club_activity'>
    <div class = 'club_activity_head'>
        <h1>{{post.title}}</h1>
    </div>
    <div class = 'club_activity_head_2' >
        <p>
            <p style= float:left;>
            <i class="fas fa-calendar-alt fa-lg"style= float:left;></i>
            <p>&nbsp;&nbsp;{{post.date}}</p>
            </p>
            <p>&nbsp;&nbsp;&nbsp;</p>
            <p>
            <i class="fas fa-user fa-lg" style= float:left;></i> 
            <p>&nbsp;&nbsp;{{post.writer}}</p>
            </p>
        </p>
    </div>

    <div class = 'club_activity_body'>
        {% if post.image %}
        <div class='club_activity_body_image'>
            <img class="rounded" src = "{{post.image.url}}" width=80% height=100%>
        </div>
        {% endif %}
        <div class = "club_activity_body_info">
            <h4>{{post.summary}}…</h4>
            <div class='club_activity_body_info_more'>
                <button type="button" onclick="location.href='{% url 'main:literal_detail' post.id %}' ">더보기</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}