{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="club_main">
    <div class="inner">

    <!-- Header -->
        <header id="header">
            <a href="{%url 'main:volunteer'%}" > &#60;&#60;봉사분과</a>
            <header>
                <h1 id = "club_name" >젊은새이웃</h1>
            </header>
            <ul class="icons">
               
                <li><a href = "https://www.instagram.com/newyoung__/"  target='_blank'><p><i class="fab fa-instagram fa-2x "></i></a></li>
    
            </ul>
        </header>

    <!-- Content -->
            <div class = image_main><img src="{% static 'images/activity/neighbor_activity.jpg'%}" width="900" height="600"/></div>

            <div class = club_int_text>
            
            <p>
            <strong>🌸 어떤 동아리인가요? </strong><br>
                A. 젊은 새이웃은 동국대 ⭐48년⭐ 전통의 교육봉사 동아리입니다! 매주 평일 중 하루 아동복지센터에 방문하여 아이들(초,중,고)에게 학습지도를 해주고 있습니다.<br>
                 센터는 총 네 곳으로, 선착순으로 원하는 곳을 선택하실 수 있습니다. 봉사센터에는 등대지역아동센터(중구), 무학지역아동센터(성동구), 중앙지역아동센터(종로구), 섬김의집아동센터(관악구)가 있습니다.<br><br>
                
            <strong> 🌸 모집기한은 언제까지인가요? </strong><br>
                A. 신입부원 가입은 언제든 가능하지만 봉사활동에 참여하고자 하는 인원들께서는 봉사인원이 모두 차게 되면 참여가 불가능하게됩니다. <br>
                하지만 봉사를 하지 않아도 동아리 가입이 가능하다는 점! 참고해주세요!!<br><br>
                
            <strong>🌸 교육봉사에 대해 자세히 알고 싶어요!! </strong><br>
                A. 동아리 부원들과 팀을 짜서 평일 오후 3~5시 또는 6~8시 중 요일과 시간을 정하고 2시간동안 아이들과 1:1(또는 1:다수)로 학습지도를 합니다~ <br>
                또한 중앙지역아동센터에서는 주 금요일마다 체육활동, 댄스, 뮤지컬, 연극 등에 대해 아이들에게 1:1(또는 1:다수)로 알려줍니다!<br><br>
                
            <strong>🌸 봉사를 안 가도 되나요?? </strong><br>
                A. 네!! 봉사활동을 가지 않으셔도 동아리 회원으로서 동방을 마음껏!!! 이용하실 수 있고 매주 수요일 6시에 있는 집회에 참석하셔서 친목활동을 하실 수 있습니다!! <br>
                🍯꿀잼 집회🍯 함께 즐겨보아용<br><br>
                
            <strong>🌸 동아리 주요 행사 일정은 어떻게 되나요? </strong><br>
                A. 개강총회가 있습니다!!! 첫 모임이고 서로 얼굴을 익힐 수 있는 자리이니 꼭 참석해주세요~ <br>
                또한 ☆동아리 창립제☆가 있습니다!!! 현 동아리원과 선배들이 만나는 자리입니다~ 그 외에도 MT등 다양한 행사를 기획하고 있습니다😉 (코로나로 인해 자세한 일정은 추후에 결정됩니다!)<br><br>
                
            <strong> 🌸 집회 때는 무엇을 하나요 </strong>?
                A. 매주 수요일 6시에 동아리방에서 만나 간단한 회의와 친목 프로그램을 진행합니다~~<br>
                절대 부담갖지 않으셔도 돼요!! 이후에 뒤풀이를 진행하는데, 우리 동아리는 술 강요를 하지 않으니 걱정 마세요💓<br><br>
                
            <strong>🌸 집회는 무조건 참가해야하나요? </strong><br>
                A. 저희 동아리는 ☆매달 첫 주에 있는 집회☆는 가급적 꼭 참여해주셨으면 좋겠습니다!! <br>
                매달 동아리원과 다같이 놀러가는 프로그램과 그 달의 행사들을 매달 첫 주에 있는 집회 때 기획하려고 하는데 모두 모여서 정했으면 하는 바람입니다~ <br>
                물론 그 외의 집회도 열심히 참여해주셔서 자리를 빛내주셨으면 좋겠습니다~😉<br>
                 다만, 현재 코로나19로 인해 집회를 진행하지 않고 있으며 대면 수업으로 변경 될 시에 적용되는 부분이니 참고부탁드립니다~<br><br>
                
            <strong>  🌸 동아리 방에는 뭐가 있나요? </strong><br>
                A. 저희 동아리는 다른 동아리방보다 훨씬 더 넓은 동아리방과 중도 복사실과 같은 모델의 복합기, 컴퓨터, Wifi, 전자레인지, 전기포트, 스마트폰 충전기, 공기청정기, 선풍기, 온풍기, 각종 사무용품과 사물함처럼 쓸 수 있는 넓은 책장 등 다양한 편의시설을 보유하고 있어요~~ <br>
                또한!! 다수의 보드게임도 보유하고 있습니다!! 공강시간마다 놀러오시면 꿀잼 보장~!😉😉 최근 리모델링으로 동방이 세련되고 깔끔해졌답니다! 신입생 여러분뿐만 아니라, 복학생 여러분도 환영합니다~ 많이 많이 와주세요~~!!<br>
                동아리 방 위치 : 학생회관 옥외 지하1층 파란대문<br><br>
                
                회장 : 이시진 010-2772-2618<br>
                부회장 : 서준혁 010-2802-9182<br>
                인스타그램 : ‘젊은새이웃’ 검색 @newyoung__<br>
           

            </p>
            
        </div>
    </div>
</div>

<div class="club">
    <div class="club_left"></div>
    <div class="club_center">
        <h1>젊은새이웃의 동아리 활동 내역</h1>
        <a class = "write_icon" href = "{% url 'main:neighbor_new'%}"><p><i class="far fa-edit fa-3x"></i></p></a>
        <p>글 작성하기</p>
    </div>
</div>
{% for post in posts %}
<div class = 'club_activity'>
    <div class = 'club_activity_head'>
        <h1>{{post.title}}</h1>
    </div>
    <div class = 'club_activity_head_2' >
        <p>
            <p style= float:left;>
            <i class="fas fa-calendar-alt fa-lg"style= float:left;></i>
            <p>&nbsp;&nbsp;{{post.date}}</p>
            </p>
            <p>&nbsp;&nbsp;&nbsp;</p>
            <p>
            <i class="fas fa-user fa-lg" style= float:left;></i> 
            <p>&nbsp;&nbsp;{{post.writer}}</p>
            </p>
        </p>
    </div>

    <div class = 'club_activity_body'>
        {% if post.image %}
        <div class='club_activity_body_image'>
            <img class="rounded" src = "{{post.image.url}}" width=80% height=100%>
        </div>
        {% endif %}
        <div class = "club_activity_body_info">
            <h4>{{post.summary}}…</h4>
            <div class='club_activity_body_info_more'>
                <button type="button" onclick="location.href='{% url 'main:neighbor_detail' post.id %}' ">더보기</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}