{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="club_main">
    <div class="inner">

    <!-- Header -->
        <header id="header">
            <a href="{%url 'main:performance'%}" > &#60;&#60;공연분과</a>
            <header>
                <h1 id = "club_name" >OPUS</h1>
            </header>
            <ul class="icons">
               
                <li><a href = "https://www.instagram.com/opus_dgu/"  target='_blank'><p><i class="fab fa-instagram fa-2x "></i></a></li>
    
            </ul>
        </header>

    <!-- Content -->
            <div class = image_main><img src="{% static 'images/activity/opus_activity.jpg'%}" width="800" height="500"/></div>

            <div class = club_int_text>
            
            
                <p> 안녕하세요👋동국대학교 대표 오케스트라 중앙동아리 ♪𝐎𝐏𝐔𝐒♪입니다 🖤<br>
                    ✅ 2021년도 의미 있는 대학 생활을 하고 싶다❗<br>
                    ✅ 어렵게만 생각했던 클래식 악기를 쉽고 재밌게 배워보고 싶다❗<br>
                    ✅ 동기, 선후배들과 다 같이 친해지고 싶다❗<br><br>

                    👉👉👉👉❗[현재 악기 파트별 연습 스케줄]❗👈👈👈👈
                    ⭐️현재 연습 스케줄이고 신입 단원분들이 들어오면 다시 조정해 시간을 맞춰봅니다⭐️<br><br>


                    🎼바이올린<br>
                    1st : 외부대관<br>
                    2nd 1조 : (금) 16:30~18:30<br>
                    2nd 2조 : (월) 13:00~14:00, 18:00~19:00<br><br>

                    🎼플룻<br>
                    (금) 14:30~16:30<br><br>

                    🎼첼로<br>
                    (월) 16:00~18:00<br><br>

                    🎼트럼펫<br>
                    외부대관<br><br>

                    저희는 올해 9월에 👉ᕷ정기연주회ᕷ👈를 개최할 예정이며, 매주 2번의 정기 연습을 통해 연주회를 준비하고 있습니다.<br>
                    ⭐️ [정기 연습] 월/목 오후 6시 ~ 8시 30분 ⭐️<br><br>

                    ※❗작년에는 코로나 상황으로 인해 정기연주회를 개최하는 대신 단원들끼리 조를 구성해 실내악 형식의 연주회를 진행하는 것으로 대체됐습니다❗<br><br>

                    8월 달엔 연주회 준비를 위한 4박 5일간의 음악캠프를 갑니다!<br>
                    학기 중엔 동아리원들끼리 MT, 연주회 관람, 소풍 등의 활동도 진행하니 많은 관심 부탁드립니다!😉 [※코로나 상황에 따라 일정은 변경될 수 있습니다※]<br><br>

                    또한 𝐎𝐏𝐔𝐒는 51개의 대학 아마추어 오케스트라 연합인 ⭐️𝐀𝐎𝐔(𝐀𝐦𝐚𝐭𝐞𝐮𝐫 𝐎𝐫𝐜𝐡𝐞𝐬𝐭𝐫𝐚 𝐔𝐧𝐢𝐨𝐧)⭐️에 소속됨으로써, 여러 대학 오케스트라 사이의 활발한 교류 및 전문 음악 기관으로부터 다양한 제휴를 제공받고 있습니다.👍<br><br>


                    ❤️ 2021년 신입 단원 모집 파트 ❤️<br>
                    🎻현악기: 바이올린, 비올라, 첼로, 콘트라베이스<br>
                    🎼목관악기: 클라리넷, 피콜로, 오보에, 바순 등<br>
                    🎷금관악기: 트럼펫, 트롬본, 유포니움, 튜바 등<br>
                    🥁타악기<br><br>

                    ✔️ 1st 바이올린과 목, 금관 악기는 오디션을 봐야하니 참고해주세요! (영상으로 대체예정)<br><br>

                    ❤️ 지원 방법 ❤️<br>
                    악기 연주를 해본 경험이 없더라도 열정과 관심이 있으시다면, 아래 연락처를 통해 언제든지 회장, 부회장 혹은 악장에게 연락해주시면 됩니다❗<br>
                    (1학기 /상/시/모/집/)<br><br>

                    ✔️ 학교에서 레슨쌤과 연락하여, 어떤 악기든 배울 수 있도록 도와드립니다.<br>
                    주저하지 말고 도전해보세요! 누구든 환영합니다!🤗<br><br>

                    ✔️ ‘1학기 상시모집’이므로 관심이 있는 분들은 연락 부탁드립니다.<br>
                    ❤️ OPUS에 대해 궁금한 점이 있다면? ❤️<br>
                    댓글, 쪽지 남겨주시거나 아래 번호로 연락주세요 :D<br>
                    회장 연락처: 010-2164-8395<br>
                    부회장 연락처: 010-9981-0147<br>
                    악장 연락처: 010-9699-0353<br><br>

            </p>
            
        </div>
    </div>
</div>

<div class="club">
    <div class="club_left"></div>
    <div class="club_center">
        <h1>OPUS의 동아리 활동 내역</h1>
        <a class = "write_icon" href = "{% url 'main:opus_new'%}"><p><i class="far fa-edit fa-3x"></i></p></a>
        <p>글 작성하기</p>
    </div>
</div>
{% for post in posts %}
<div class = 'club_activity'>
    <div class = 'club_activity_head'>
        <h1>{{post.title}}</h1>
    </div>
    <div class = 'club_activity_head_2' >
        <p>
            <p style= float:left;>
            <i class="fas fa-calendar-alt fa-lg"style= float:left;></i>
            <p>&nbsp;&nbsp;{{post.date}}</p>
            </p>
            <p>&nbsp;&nbsp;&nbsp;</p>
            <p>
            <i class="fas fa-user fa-lg" style= float:left;></i> 
            <p>&nbsp;&nbsp;{{post.writer}}</p>
            </p>
        </p>
    </div>

    <div class = 'club_activity_body'>
        {% if post.image %}
        <div class='club_activity_body_image'>
            <img class="rounded" src = "{{post.image.url}}" width=80% height=100%>
        </div>
        {% endif %}
        <div class = "club_activity_body_info">
            <h4>{{post.summary}}…</h4>
            <div class='club_activity_body_info_more'>
                <button type="button" onclick="location.href='{% url 'main:opus_detail' post.id %}' ">더보기</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}