{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="club_main">
    <div class="inner">

    <!-- Header -->
        <header id="header">
            <a href="{%url 'main:atheletic'%}" > &#60;&#60;체육분과</a>
            <header>
                <h1 id = "club_name" >바람소리</h1>
            </header>
            <ul class="icons">
               
                <li><a href = "https://www.facebook.com/%EB%AC%B4%EB%B2%95-%EA%B7%B9%EC%A7%84%EA%B3%B5%EC%88%98%EB%8F%84-%EB%8F%99%EC%95%84%EB%A6%AC-145637746041657/"  target='_blank'><p></a></li>
    
            </ul>
        </header>

    <!-- Content -->
            <div class = image_main><img src="{% static 'images/activity/wind_activity.jpeg'%}" width="700px"></div>

            <div class = club_int_text>
            
            
                <p> 안녕하세요! 동국대학교 유일한 패러글라이딩 중앙동아리, 바람소리입니다!<br>
                    2021학년도 바람소리와 함께 익스트림~하게 패러글라이딩을 즐길 33기 신입부원을 찾습니다!<br><br>


                    💛 바람소리는 어떤 동아리인가요?<br><br>

                    저희 바람소리는 패러글라이딩을 비롯해 각종 액티비티🪂🏄‍♀️🚴‍♀️⛷를 다함께 즐기는 동아리입니다!<br>
                    초반에는 동아리원들과 함께 하는 지상이착륙연습, 또는 전문가와 함께하는 2인체험비행으로 패러글라이딩을 접하게 될 것이고,<br>
                    나아가 희망자에 한하여 좀 더 구체적인 과정을 통해 혼자서 비행하는 것을 최종적인 목표로 삼고 있습니다.<br><br>


                    💛 패러글라이딩을 체험만 해보고 싶은데, 가입할 수 있나요?<br><br>

                    패러글라이딩에 대해서 일회성으로 재미만 느끼고 싶으신 분들도 분명히 계실 것입니다!<br>
                    하지만 저희 동아리는 부원들의 관심사에 따라 다양한 익스트림 스포츠도 함께하고,<br>
                    소소하게 여행, 캠핑, 보드게임, 방탈출 등의 취미활동도 공유하고 있습니다!<br>
                    패러글라이딩에서 뿐만이 아니라 가족같은 분위기에서 행복한 친목활동을 이어가실 수 있을 것입니다!<br><br>


                    💛 동아리 활동에 있어서 비용은 얼마나 드나요?<br><br>

                    저희 동아리는 학기당 4만원의 회비를 받고 있습니다!<br>
                    다른 동아리에 비해 비교적 회비가 높게 책정된 이유는, 회비를 모아 패러글라이딩 장비를 구비해두기 때문입니다.<br>
                    기타 활동에 따라 발생되는 부가비용은 때에 따라 상세히 공지할 예정이오니 걱정하지 않으셔도 됩니다!<br><br>

                    ☑️(참고 : 일반인이 패러글라이딩을 전문적으로 배울 시 3개월 당 50만원 정도가 소비되며,<br>
                    2인 체험비행의 경우 7-12만원 가량이 소비됩니다.<br>
                    바람소리는 패러글라이딩에 필요한 모든 장비가 구비되어 있으므로<br>
                    비교적 적은 부담으로 패러글라이딩을 즐기실 수 있습니다!)<br><br>


                    💛 패러글라이딩이 위험하지는 않나요?<br><br>

                    ❗저희는 동아리 자체적인 지상이착륙연습을 통해 비행을 하기 위한 준비를 충분히 하고,<br>
                    준비된 인원에 한해서 실제 비행을 할 수 있게 합니다!<br>
                    ❗패러글라이딩 비행 및 교육 자격증을 가지고 있는 외부 전문가들의 도움을 받아 비행교육을 진행하고 있습니다.<br>
                    실제 비행 때에도 전문가 분들의 통제와 지도 하에서 안전하게 비행하는 것을 최우선의 원칙으로 하고 있기 때문에 안심하셔도 좋습니다!<br>
                    ❗전문가분들의 말만 잘 들으면 됩니다! 😊 비행시, 무전을 통해 지시를 받게 되는데, 이때 본인의 의지대로만 하게 된다면 위험합니다.<br>
                    전문가들의 지시를 잘 따른다면 안전하게 비행할 수 있습니다!<br><br>


                    💛 바람소리의 매력을 이야기해주세요!<br><br>

                    첫 번째로, 동방(동아리방)이 매우 아늑합니다!<br>
                    동아리 부원들 대부분이 공강시간만 되면 동아리방을 찾을 정도로 좋습니다!<br>
                    편하게 누워서 휴식도 가능하고, 급한 과제가 있다면 과제를 할 수도 있고, 시험기간에는 동방에서 공부하는 인원도 많습니다!<br>
                    두 번째로, 소규모 동아리입니다!<br>
                    동아리 특성상 인원이 그렇게 많지 않아서 선후배 상관없이 모두가 정말 가족같은 분위기로 화기애애하게 지내고 있습니다!<br>
                    신입부원 여러분들도 가입하시고나면 금방 분위기에 녹아들고 여러 사람들과 친해질 수 있을 것이라고 확신합니다!<br><br>

                    😮 가입조건이 있을까요?<br>
                    : 학년, 학번, 나이 제한 없습니다! 남녀노소 누구나 패러글라이딩을 경험해보고 싶은 분들이라면 환영합니다!<br><br>

                    😮 정기회의나 모임이 있을까요?<br>
                    : 없습니다! 코로나 상황 이전에도 현재도 회의나 모임은 필요시에 사전공지를 통해 진행해왔습니다.<br>
                    단, 시험기간이나 특별한 일이 있는 경우를 제외하고는 매주 주말 날씨에 따라서 희망인원에 한해 패러글라이딩 활동을 하고있으니 참고해주세요~<br><br>

                    😮 다른 동아리와 병행해서 활동해도 괜찮을까요?<br>
                    : 물~론입니다! 본인의 의지와 열정이 따라준다면 말이죠. ^ㅡ^<br>

                    바람소리는 언제나 여러분을 환영합니다! 🥰<br>
                    함께 패러글라이딩도 즐기고, 재미있는 학교생활도 즐겨요~ ❤<br>
            </p>
            
        </div>
    </div>
</div>

<div class="club">
    <div class="club_left"></div>
    <div class="club_center">
        <h1>바람소리의 동아리 활동 내역</h1>
        <a class = "write_icon" href = "{% url 'main:wind_new'%}"><p><i class="far fa-edit fa-3x"></i></p></a>
        <p>글 작성하기</p>
    </div>
</div>
{% for post in posts %}
<div class = 'club_activity'>
    <div class = 'club_activity_head'>
        <h1>{{post.title}}</h1>
    </div>
    <div class = 'club_activity_head_2' >
        <p>
            <p style= float:left;>
            <i class="fas fa-calendar-alt fa-lg"style= float:left;></i>
            <p>&nbsp;&nbsp;{{post.date}}</p>
            </p>
            <p>&nbsp;&nbsp;&nbsp;</p>
            <p>
            <i class="fas fa-user fa-lg" style= float:left;></i> 
            <p>&nbsp;&nbsp;{{post.writer}}</p>
            </p>
        </p>
    </div>

    <div class = 'club_activity_body'>
        {% if post.image %}
        <div class='club_activity_body_image'>
            <img class="rounded" src = "{{post.image.url}}" width=80% height=100%>
        </div>
        {% endif %}
        <div class = "club_activity_body_info">
            <h4>{{post.summary}}…</h4>
            <div class='club_activity_body_info_more'>
                <button type="button" onclick="location.href='{% url 'main:wind_detail' post.id %}' ">더보기</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}