{% extends 'base.html'%}
{% load static %}

{% block content %}
        <!-- Container-->
        <div class="container">
            <h1>학술분과</h1>
            <div class="container-floor1">
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/cafein.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>CAFE-IN</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/dna.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>DNA</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/dussa.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>DUSSA</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/kcc.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>KCC</h2>
                </div>
            </div>
            <div class="container-floor1">
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/mecs.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>MECS</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/nsa.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>NSA</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/맑스.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>맑스철학연구회</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                    </a>
                    <h2></h2>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}