{% extends 'base.html'%}
{% load static %}

{% block content %}
        <!-- Container-->
        <div class="container">
            <h1>예창분과</h1>
            <div class="container-floor1">
                <div class="container-floor1-content">
                    <a href="{% url 'main:draw'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/그리고그림.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>그리고그림</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:literal'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/동국문학회.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>동국문학회</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:calligraphy'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/동국서도회.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>동국서도회</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:circle'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/동그라미.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>동그라미</h2>
                </div>
            </div>
            <div class="container-floor1">
                <div class="container-floor1-content">
                    <a href="{% url 'main:stone'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/디딤돌.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>디딤돌</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:cartoon'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/만화얼.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>만화얼</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:rush'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/애드러쉬.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>애드러쉬</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                    </a>
                    <h2></h2>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}