{% extends 'base.html'%}
{% load static %}

{% block content %}
        <!-- Container-->
        <div class="container">
            <h1>체육분과</h1>
            <div class="container-floor1">
                <div class="container-floor1-content">
                    <a href="{% url 'main:dust'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/dust.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>DUST</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:cave'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/탐험.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>동굴탐험연구회</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:action'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/무법.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>무법</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:wind'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/바람소리.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>바람소리</h2>
                </div>
            </div>
            <div class="container-floor1">
                <div class="container-floor1-content">
                    <a href="{% url 'main:mountain'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/산악부.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>산악부</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:water'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/수중.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>수중탐험연구회</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:courtist'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/courtist.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>COURTIST</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:dutc'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/dutc.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>DUTC</h2>
                </div>
            </div>
            <div class="container-floor1">
                <div class="container-floor1-content">
                    <a href="{% url 'main:fctoto'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/fctoto.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>FC TOTO</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:lae'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/lae.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>L.A.E</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:kendo'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/검도.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>검도부</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:baduk'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/기우회.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>기우회</h2>
                </div>
            </div>
            <div class="container-floor1">
                <div class="container-floor1-content">
                    <a href="{% url 'main:arrow'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/명궁.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>명궁</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:taekwondo'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/선무부.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>선무부</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:tuskers'%}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/터스커스.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>터스커스</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                    </a>
                    <h2></h2>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}