{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='num'>
<h1>동아리 연락처</h1>
</div>

<table class="table">
    <thead>
        <tr>
        <th scope='cols'>동아리명</th>
        <th scope='cols'>전화번호</th>
        <th scope='cols'>동아리명</th>
        <th scope='cols'>전화번호</th>
        </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">AJAX</th>
      <td>010-9928-8890</td>
      <th scope="row">CAFE-IN</th>
      <td>010-2405-4092</td>
    </tr>
    <tr>
      <th scope="row">COURTIST</th>
      <td>010-6567-9788</td>
        <th scope="row">DNA</th>
        <td>010-9495-6144</td>
    </tr>
    <tr>
        <th scope="row">DUSSA</th>
        <td>010-8962-0436</td>
        <th scope="row">DUST</th>
        <td>-</td>
    </tr>
    <tr>
        <th scope='row'>DUTC</th>
        <td>010-6297-6301</td>
        <th scope='row'>E.L.F</th>
        <td>010-2043-0583</td>
    </tr>

    <tr>
      <th scope="row">FC TOTO</th>
      <td>010-5468-6343</td>
      <th scope="row">FC 엘레펜테</th>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">HOLA</th>
      <td>010-3390-3127</td>
        <th scope="row">KCC</th>
        <td>010-7208-3362</td>
    </tr>
    <tr>
        <th scope="row">KUSA</th>
        <td>010-8581-8504</td>
        <th scope="row">L.A.E</th>
        <td>010-7102-2846</td>
    </tr>
    <tr>
        <th scope='row'>MECS</th>
        <td>010-7183-3327</td>
        <th scope='row'>NSA</th>
        <td>010-8610-1503</td>
    </tr>

    <tr>
        <th scope="row">ODC</th>
        <td>010-4163-6811</td>
        <th scope="row">OPUS</th>
        <td>010-3941-2821</td>
      </tr>
      <tr>
        <th scope="row">QUD</th>
        <td>facebook 주소</td>
          <th scope="row">RCY</th>
          <td>010-4663-4955</td>
      </tr>
      <tr>
          <th scope="row">RICH</th>
          <td>010-7410-7411</td>
          <th scope="row">UNSA</th>
          <td>010-6607-3522</td>
      </tr>
      <tr>
          <th scope='row'>검도부</th>
          <td>010-3182-8362</td>
          <th scope='row'>경영학연구회</th>
          <td>010-2460-4129</td>
      </tr>

      <tr>
        <th scope="row">경제학연구회</th>
        <td>010-5510-3946</td>
        <th scope="row">국제통상학연구회</th>
        <td>010-6559-9298</td>
      </tr>
      <tr>
        <th scope="row">그리고 그림</th>
        <td>010-4981-3695</td>
          <th scope="row">극예술연구회</th>
          <td>010-6514-6927</td>
      </tr>
      <tr>
          <th scope="row">기우회</th>
          <td>010-9934-5808</td>
          <th scope="row">길</th>
          <td>010-8385-0036</td>
      </tr>
      <tr>
          <th scope='row'>동국문학회</th>
          <td>010-7149-4382</td>
          <th scope='row'>동국불교학생회</th>
          <td>010-6828-7227</td>
      </tr>

      <tr>
        <th scope="row">동국서도회</th>
        <td>010-7298-9222</td>
        <th scope="row">동굴탐험연구회</th>
        <td>010-5539-1091</td>
      </tr>
      <tr>
        <th scope="row">동그라미</th>
        <td>010-7271-2923</td>
          <th scope="row">두둠칫</th>
          <td>010-2497-0936</td>
      </tr>
      <tr>
          <th scope="row">디딤돌</th>
          <td>010-6346-9593</td>
          <th scope="row">로터스</th>
          <td>010-5185-9410</td>
      </tr>
      <tr>
          <th scope='row'>만화얼</th>
          <td>010-4739-9075</td>
          <th scope='row'>맑스철학연구회</th>
          <td>-</td>
      </tr>

      <tr>
        <th scope="row">멋쟁이 사자처럼</th>
        <td>010-7255-3753</td>
        <th scope="row">명궁</th>
        <td>010-9775-1720</td>
      </tr>
      <tr>
        <th scope="row">무법</th>
        <td>010-3381-1903</td>
          <th scope="row">뭉게구름</th>
          <td>010-2249-4129</td>
      </tr>
      <tr>
          <th scope="row">바람소리</th>
          <td>010-7200-2836</td>
          <th scope="row">산악부</th>
          <td>010-4287-5099</td>
      </tr>
      <tr>
          <th scope='row'>선무부</th>
          <td>010-6750-5295</td>
          <th scope='row'>손짓사랑회</th>
          <td>010-4546-9709</td>
      </tr>
    
    <tr>
        <th scope="row">수중탐험연구회</th>
        <td>010-5022-6049</td>
        <th scope="row">아리랑</th>
        <td>010-2041-6979</td>
    </tr>
    <tr>
        <th scope="row">애드러쉬</th>
        <td>010-4739-9075</td>
          <th scope="row">음샘</th>
          <td>-</td>
    </tr>
    <tr>
          <th scope="row">인액터스</th>
          <td>-</td>
          <th scope="row">잼잼</th>
          <td>-</td>
    </tr>
    <tr>
          <th scope='row'>젊은 새이웃</th>
          <td>010-5207-9804</td>
          <th scope='row'>정치학연구회</th>
          <td>010-4910-5470</td>
    </tr>

    <tr>
        <th scope="row">터스커스</th>
        <td>010-7445-4514</td>
        <th scope="row">페인터즈</th>
        <td>010-2260-9050</td>
    </tr>
    <tr>
        <th scope="row">푸름누리</th>
        <td>010-3001-8074</td>
          <th scope="row">프론티어</th>
          <td>010-8548-7113</td>
    </tr>
    <tr>
          <th scope="row">피어리스던</th>
          <td>010-9379-1198</td>
          <th scope="row">한글학교하람</th>
          <td>010-2828-2931</td>
    </tr>
    <tr>
          <th scope='row'>한여울</th>
          <td>010-5170-3417</td>
    </tr>

    </tbody>
</table>

{% endblock %}