
{% extends 'base.html'%}
{% load static %}

{% block content %}
<div style = "padding : 20px;">
<body id = "faq">
  <h1 id = "faqh1">FAQ</h1>

  <main id = "faqmain">
  <details open>
    <summary>동아리 연합회에 문의하고 싶은 내용이 있다면 어떻게 해야할까요?</summary>
    <div class="faq__content">
      <p> 동아리 연합회 인스타그램 또는 학생회관 1층에 있는 동아리 연합회실을 방문해주세요. <br>
        <a href = "https://instagram.com/retouch_dongguk?utm_medium=copy_link"><p><i class="fab fa-instagram fa-2x "></i></p></a>
        


      </p>
    </div>
  </details>

    <details>
    <summary>
      동아리 연락처는 어떻게 보나요?</summary>
    <div class="faq__content">
      <p> 상단 메뉴에 CONTACT 를 클릭하면 각 동아리별 대표 연락처를 확인할 수 있습니다.  </p>
    </div>
  </details>

  <details>
    <summary>동아리 활동 기록은 어떻게 하나요? </summary>
    <div class="faq__content">
      <p> 메인 홈페이지에서, 해당 분과를 클릭한 후, 해당 동아리를 선택하여, 작성하기 버튼을 눌러 기록할 수 있습니다. 단, 회원가입을 하셔야 작성권한을 얻을 수 있습니다. 활동 기록 열람은 회원가입 없이 가능합니다. </p>
    </div>
  </details>

  <details>
    <summary>동아리 박람회 일정은 어떻게 되나요? 
    </summary>
    <div class="faq__content">
      <p>매년 3월 초에 이루어지며, 올해는 코로나로 인해 온라인으로 이루어졌습니다. </p>
    </div>
  </details>

  <details>
    <summary>중앙 동아리 재등록 신청은 어떻게 하나요? </summary>
    <div class="faq__content">
      <p> 정해진 기간에 중앙 동아리 재등록 신청서류를 제출해야 합니다. <br>
        서류에는, 동아리 개요, 단체등록 서역서, 지도교수 위촉 신고서, 전년도 동아리 활동 보고, 금년도 동아리 활동 계획, 회원 명단, 동아리 회칙이 포함됩니다. 
       </p>
    </div>
  </details>

  <details>
    <summary> 중앙동아리 평가는 어떤 식으로 이루어지나요? </summary>
    <div class="faq__content">
      <p> 중앙 동아리 평가 서류를 제출받습니다. <br>
        서류에는, 활동평가 신청서, 금년도 동아리 활동 보고서, 익년도 동아리 활동 계획서, 회원 명단이 포함됩니다. 
       </p>
    </div>
  </details>
   </main>



</body>
</div>

{% endblock %}