{% extends 'base.html'%}
{% load static %}

{% block content %}
        <div class="container">
            <h1>공연분과</h1>
            <div class="container-floor1">
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/ajax.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>AJAX</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/hola.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>HOLA</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/odc.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>ODC</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/opus.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>OPUS</h2>
                </div>
            </div>
            <div class="container-floor1">
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/극예술.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>극예술연구회</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/로터스.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>로터스</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/뭉게구름.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>뭉게구름</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/아리랑.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>아리랑</h2>
                </div>
            </div>
            <div class="container-floor1">
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/음샘.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>음샘</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/피어리스던.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>피어리스던</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/현여울.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>현여울</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                    </a>
                    <h2></h2>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}