{% extends 'base.html'%}
{% load static %}

{% block content %}
        <!-- Container-->
        <div class="container">
            <h1>연구분과</h1>
            <div class="container-floor1">
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/경영학연구회.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>경영학연구회</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/경제학연구회.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>경제학연구회</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/국제통상학연구회.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>국제통상학연구회</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/정치학연구회.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>정치학연구회</h2>
                </div>
            </div>
        </div>

{% endblock %}