{% extends 'base.html'%}
{% load static %}

{% block content %}
        <!-- Container-->
        <div class="container">
            <h1>사회분과</h1>
            <div class="container-floor1">
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/kusa.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>KUSA</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/rich.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>RICH</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/unsa.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>UNSA</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/프론티어.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>프론티어</h2>
                </div>
            </div>
            <div class="container-floor1">
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/동국불교학생회.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>동국불교학생회</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                    </a>
                    <h2></h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                    </a>
                    <h2></h2>
                </div>
                <div class="container-floor1-content">
                    <a href="#">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                    </a>
                    <h2></h2>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}