{% extends 'base.html'%}
{% load static %}

{% block content %}
        <!-- Container-->
        <div class="container">
            <h1>봉사분과</h1>
            <div class="container-floor1">
                <div class="container-floor1-content">
                    <a href="{% url 'main:elf' %}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/elf.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>E.L.F</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:rcy' %}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/rcy.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>RCY</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:road' %}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/길.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>길</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:hand' %}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/손짓사랑회.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>손짓사랑회</h2>
                </div>
            </div>
            <div class="container-floor1">
                <div class="container-floor1-content">
                    <a href="{% url 'main:neighbor' %}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/젊은새이웃.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>젊은새이웃</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:painters' %}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/페인터즈.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>페인터즈</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:green' %}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/푸름누리.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>푸름누리</h2>
                </div>
                <div class="container-floor1-content">
                    <a href="{% url 'main:korean' %}">
                        <p class="container-floor1-content-icon"><i class="fas fa-plus"></i></p>
                        <img class="container-floor1-content-image" src="{% static 'images/하람.jpg'%}" width=100% height=80%/>
                    </a>
                    <h2>한글학교하람</h2>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}